<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title text-center>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Bem-vindo ao seu perfil
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Seu email: {{ userEmail }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button fill="solid" expand="block" color="dark" (click)="logout()">Sair</ion-button>
</ion-content>
